#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px 10px;
  width: 150px;
  float: left;

  .article_test,
  .article_componment {
    font-weight: 500;
    font-size: 20px;
  }

  a {
    font-weight: 500;
    color: #2c3e50;
    padding: 20px;
    font-size: 18px;
    display: block;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
#content {
  width: 1000px;
  padding: 30px;
  float: left;
}
